.box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 111;
    background: #fff;
    width: 45%;
    padding: 20px;
}

.box .content {
    padding: 5px 10px;
}

.box .header h1 {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
}

.box .footer {
    display: flex;
    gap: 10px;
    justify-content: end;
}

.box .footer .btnClose {
    background-color: gray
}