.navbar {
    background-color: var(--bunker);
    padding: 0;
}

.navbar .navbar-brand {
    font-family: 'Lalezar';
    font-size: 35px;
    font-weight: 500;
    color: #fff;
    position: relative;
    top: 3px;
}

.navbar .search {
    width: 40%;
}

.navbar .search .input-group .btn {
    border-radius: 5px;
    padding: 4px 15px;
    font-size: 22px;
    color: var(--black);
}

.navbar .search .input-group input {
    border-radius: 5px;
}

.nav {
    background-color: #232f3e;
    justify-content: center;
    align-items: center;
}

.nav .nav-item a,
.nav .nav-item .nav-link {
    color: #fff;
}

.navbar .navbar-nav a,
.navbar .navbar-nav .nav-link {
    color: #fff;
    margin: 0 10px;
    transition: all .3s ease;
    text-decoration: none;
}

.navbar .navbar-nav a:hover,
.navbar .navbar-nav .nav-link:hover {
    color: var(--orange);
}


.navbar .navbar-nav a.active {
    color: var(--orange);
}

.navbar .bal {
    color: var(--orange);
}